.nevbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* 👇 FIXED HEADER */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background: #161513;

    /* 👇 Instead of margin, use padding */
    padding: 10px 170px;
}

/* 👇 Push entire website content below navbar */
body {
  padding-top: 110px; /* Adjust slightly if needed */
}

/* ================= MENU ================= */

.nev-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px ;
    font-size: 20px;
}

.nev-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6% );
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nev-connect:hover {
    transform: scale(1.05);
}

.nev-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nev-menu li img{
    display: flex;
    margin: auto;
}

.anchor{
    text-decoration: none;
    color: white;
}

.nev-mod-open{
    display: none;
}

.nev-mod-close{
    display: none;
}

/* ================= MOBILE ================= */

@media(max-width:768px){ 

    .nevbar{
        padding: 2px 50px;
    }

    .nev-connect{
        display: none;  
    }

    .nev-mod-open{
        display: block;
        position: fixed;
        right: 30px;
    }

    .nev-mod-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;           
        width: 30px;
        cursor: pointer;
    }

    .nev-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0px;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2000;
        transition: right 0.5s ;
        right: -350px;
    }

    .nev-menu li{
        margin-top: 50px;
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}

@media (min-width: 769px) {
  .nev-mod-close {
    display: none !important;
  }
}